* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  flex-direction: column;
  display: flex;
  max-width: 350px;
  margin: 20px auto;
  gap: 40px;
}

body {
  background-color: #063da3;
  font-family: 'Heebo', sans-serif;
  ;
}